body {
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}
.material-symbols-outlined {
    vertical-align: middle;
}

.bg-primary {
    background-color: #aa0601;
}
.bg-secondary {
    background-color: #fbf2f2;
}
.bg-tertiary {
    background-color: #fff;
}
.text-primary {
    color: #650300;
}
.text-secondary {
    color: #aa0601;
}

.title-red-mb-48 {
    font-size: 48px;
    font-weight: 700;
    color: #650300;
    text-align: center;
    margin-bottom: 48px;
}
.title-white-mb-48 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
}
.title-red-mb-24 {
    font-size: 48px;
    font-weight: 700;
    color: #650300;
    text-align: center;
    margin-bottom: 24px;
}
.button {
    background: #aa0601;
    color: #fff;
    text-align: center;
}
.button-buy {
    width: 104px;
    font-size: 20px;
    font-weight: 500;  
    margin-top: 4px;
    margin-left: auto;
    padding: 6px 12px;
}
.button-buy:hover {
    cursor: pointer;
}
.button-submit {
    width: 416px;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 0;
    margin: 0 auto;
}
.button-submit:hover {
    cursor: pointer;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}
.header-nav-link {
    display: flex;
    align-items: center;
    font-size: 20px;
}
.header-nav-link li {
    padding: 6px 32px;
    border-bottom: 3px solid transparent;
}
.header-nav-link li:hover {
    border-bottom: 3px solid #fff;
}
.logo h1 a {
    background-image: url(https://github.com/zitonbar/2023-week3-product/blob/main/images/logo-white.png?raw=true);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 80px;
    height: 48.57px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.banner {
    background-image: url(https://github.com/zitonbar/2023-week3-product/blob/main/images/home-header.png?raw=true);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-content {
    padding: 296px 0;
    text-align: right;
    margin-left: auto;
}
.banner-content p {
    font-size: 36px;
}
.banner-content span {
    font-size: 64px;
    font-weight: 700;
}

.feature {
    padding: 80px 0;
}

.feature-content {
    display: flex;
    flex-wrap: wrap;
}
.feature-item {
    width: 306px;
    text-align: center;
}
.feature-item:nth-child(2),
.feature-item:nth-child(3){
    margin: 0 12px;
}
.feature-item img {
    width: 100px;
}
.feature-item h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 24px 0 8px 0;
}
.feature-item p {
    text-align: left;
}
.classic {
    padding: 80px 0;
}
.classic-list {
    display: flex;
}
.classic-list li:nth-child(2) {
    margin: 0 24px;
}
.classic-list img {
    width: 416px;
}
.classic-list h4 {
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    color: #aa0601;
    text-align: center;
    margin-top: 8px;
}
.co-branding {
    background-image: url(https://github.com/zitonbar/2023-week3-product/blob/main/images/index-bg.png?raw=true);
    background-size: cover;
    background-position: center center;
    padding: 80px 0;
}
.co-branding ul {
    display: flex;
    align-items: center;
}
.co-branding h4 {
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    color: #aa0601;
    background-color: #fff;
    text-align: center;
    padding: 8px 0;
}
.recommend {
    padding: 80px 0;
}
.recommend-list {
    display: flex;
}
.recommend-item {
    width: 306px;
}
.recommend-item:nth-child(2),
.recommend-item:nth-child(3) {
    margin: 0 12px;
}
.recommend-item-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #DEE2E6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    height: 205px;
}
.name {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 8px;
}
.time {
    display: block;
    margin-top: auto;
}
.time-style {
    color: #707070;
}

.contact-content {
    width: 636px;
    margin: 0 auto;
}
.contact-box {
    padding: 80px 0;
}
.contact-box p {
    font-size: 20px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.contact-form label {
    margin-bottom: 8px;
}
.contact-form input, .feedback {
    color: rgba(0, 0, 0, 0.2);
    background-color: #fbf2f2;
    border: 1px solid #000;
    padding: 6px 12px;
    margin-bottom: 16px;
}
.checkbox-block {
    margin-bottom: 48px;
}

.footer-nav {
    padding: 48px 0 32px 0;
}

.footer-link {
    display: flex;
    justify-content: space-between;
}
.footer-link-item {
    display: flex;
    align-items: center;
}
.footer-link-item li {
    margin-right: 48px;
    border-bottom: 3px solid transparent;
}
.footer-link-item li:hover {
    border-bottom: 3px solid #fff;
}
.footer-link-icon {
    display: flex;
}
.footer-link-icon li {
    margin-left: 32px;
}
.footer-link-icon li:hover {
    opacity: 0.8;
}
.footer-link-icon a {
    width: 48px;
    height: auto;
}
.footer-message {
    font-size: 36px;
}
.footer-message li:hover {
    opacity: 0.8;
}
.footer-copyright {
    border-top: 1px solid #fff;
    margin-top: 32px;
}
.message {
    padding-bottom: 32px;
}
.footer-copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}
.footer-copyright p {
    color: #fff;
}
.footer-copyright-link {
    display: flex;
}
.footer-copyright-link li {
    margin-left: 48px;
    border-bottom: 3px solid transparent;
}
.footer-copyright-link li:hover {
    border-bottom: 3px solid #fff;
}